/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: "Inter Web";
    font-weight: 400;
    src: url("../fonts/Inter-UI-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Inter Web";
    font-weight: 600;
    src: url("/fonts/Inter-UI-Medium.woff2") format("woff2")
}

@font-face {
    font-family: "Inter Web";
    font-weight: 600;
    src: url("/fonts/Inter-UI-Bold.woff2") format("woff2")
}
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    --global-page-backgroundcolor: linear-gradient(to bottom right, var(--global-color-alpha), var(--global-color-alpha-light));
    --custom-option-background:#c8c6cc;
    --custom-option-background-checkbox:#DCDAE0;
    --global-color-alpha-light: #1AB6FF;
    --global-color-alpha: #4E00EA;
    
    --global-color-alpha-dark: #2E77E6;
    --global-color-p:#47454D;
    --global-color-checkbox-p:#47454D;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #FFFFFF;
    --global-color-neutral-x-light: #A2A1A6;
    --global-color-neutral-light: #616466;
    --global-color-neutral-dark: #1B1918;
    --global-color-neutral: #17161A;
    

    /* shadows */
    --global-card-boxShadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    --global-option-boxShadow: 0 0 0px 3px rgba(26, 182, 255, 0.3);

    /* borders */
    --global-input-border: 1px solid #DCDAE0;
    --custom-option-border-checked: 2px solid var(--global-color-alpha);
    --custom-option-border: 2px solid var(--global-color-neutral-x-light);
    --global-borderWidth: 1px;

    /* baseline */
    --global-baseline: 0.5rem; /* = 8px */
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-xs: calc(var(--global-baseline) * .5); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Inter Web";
    color: Black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: orange;
    color: white;
    text-shadow: none;
}

::selection {
    background: orange;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 1.5rem;
    line-height: 48px;
    margin: 0 0 0.5rem;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}
p{
    color: var(--global-color-p);
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: inline-block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral);
}

input:disabled {
    cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section + .o-section {
    padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.o-list {
    list-style: none;
    padding: 0;
}

.send-back{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 13rem;
}

.c-option-list {
    margin-bottom: var(--global-whitespace-lg);
}

.c-card-footer{
    border-top: var(--global-borderWidth) solid var(--card__footer-borderColor, var(--global-color-neutral-xxx-light));
    display: grid;
    grid-template-columns: 15.625rem 1fr;
    align-items: center;
    justify-items: normal;
    /*width: 25.875rem;*/
    width: 100%;
}

.c-form-field {
    position: relative;
}

.c-form-field--option {
    display: flex;
    align-items: center;
}

.c-option {
    margin-right: var(--global-whitespace-sm);
}

.c-option--hidden:focus + .c-custom-option,
.c-option--hidden:active + .c-custom-option {
    --global-option-boxShadow: var(--global-color-alpha-light);
}

.c-label {
    margin-bottom: 0;
    font-size: 1rem;
    padding-bottom: var(--global-whitespace-sm);    
    line-height: var(--global-whitespace);
    color: var(--global-color-neutral-light);
}

.c-label--option {
    padding-bottom: 0;
}

.c-custom-option {
    display: flex;
    align-items: center;
}

.c-custom-option__fake-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--global-whitespace-md);
    height: var(--global-whitespace-md);
    margin-right: var(--global-whitespace-sm);
    transition: all var(--custom-option-transition);
    box-shadow: var(--custom-option-boxShadow);
    border: var(--custom-option-border);
    background-color: var(--custom-option-background);
}

.c-custom-option__fake-input--checkbox {
    border-radius: calc(var(--global-baseline)/4);
    background-color: var(--custom-option-background);
}

.c-custom-option__fake-input--radio {
    border-radius: 100%;
}

.c-custom-option__symbol {
    display: block;
    opacity: 0;
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: 0.625rem;
    height: 0.625rem;
    fill: var(--global-color-neutral-xx-light);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
    background-color: var(--global-color-neutral-xx-light);
    border-radius: 100%;
    width: 0.375rem;
    height: 0.375rem;
}

.c-option--hidden:focus + .c-custom-option,
.c-option--hidden:active + .c-custom-option,
.c-option--hidden:hover + .c-custom-option {
    --custom-option-boxShadow: var(--global-option-boxShadow);
    --custom-option-border: var(--custom-option-border-checked);
}

.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
    opacity: 1;
    transform: scale(1);
}

.c-option--hidden:checked + .c-custom-option .c-custom-option__fake-input {
    --custom-option-background: var(--global-color-alpha);
    
    --custom-option-border: var(--custom-option-border-checked);
}

.c-option--hidden:checked + .c-custom-toggle{
    --global-color-checkbox-p:white;
    --custom-option-background-checkbox:var(--global-color-alpha);

}

.c-option-list__item {
    margin-bottom: var(--global-baseline);
}

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 10rem;
    border-radius: calc(var(--global-whitespace)/4);
    border: var(--global-input-border);
    color: var( --global-color-neutral-x-light);
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 7.9375rem;
    padding-left: 1rem;
    outline: none;
}

.c-input:focus,
.c-input:hover {
    box-shadow: var(--global-option-boxShadow);
}

.c-button {
    font-size: 1rem;
    font-weight: 500;
    line-height: calc(20rem/16);
    border-radius: calc(3rem/16);
    background-color: var(--global-color-alpha);
    color: var(--global-color-neutral-xx-light);
    padding: 1rem;
    width: 13rem;
    outline: none;
}

.c-button:focus,
.c-button:active,
.c-button:hover {
    box-shadow: var(--global-option-boxShadow);
}

.c-custom-option__fake-input--radio{
    background-color: var(--custom-option-background);
}
.o-layout{
    border-top: var(--global-whitespace-sm) solid var(--global-color-alpha);
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    padding-top: 2.5rem;
    max-width: 25.875rem;
}
.c-custom-toggle__fake-input {
    display: block;
    height: 32px;
    width: 61px;
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
    
}
.c-custom-toggle__fake-input1 {
    display: block;
    height: 32px;
    width: 72px;
    
    
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input2 {
    display: block;
    height: 32px;
    width: 101px;
    
    
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input3 {
    display: block;
    height: 32px;
    width: 79px;
    
    margin-right: 12px;
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input4 {
    display: block;
    height: 32px;
    width: 67px;
    
    margin-right: 12px;
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input5 {
    display: block;
    height: 32px;
    width: 81px;
    
    margin-right: 12px;
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input6 {
    display: block;
    height: 32px;
    width: 63px;
    
    
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input7 {
    display: block;
    height: 32px;
    width: 84px;
    
    
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}
.c-custom-toggle__fake-input8 {
    display: block;
    height: 32px;
    width: 83px;
    
   
    background-color: var(--custom-option-background-checkbox);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}


.c-custom-line{
    display: block;
    
    height: 0.5rem;
    width: 13rem;
    margin-right: 16px;
    background-color: var(--custom-option-background);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-line-purple{
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 9rem;
    margin-right: 16px;
    background-color: var(--global-color-alpha);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}

.subtitle{
    font-weight: 800;
    color:var(--global-color-neutral);
}
.items{
    padding-left: 0.75rem;
    padding-top: 0.28rem;
    position: absolute;
    color: var(--global-color-checkbox-p);
    
    
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
    color: lightGray;
}

.u-color-neutral {
    color: Gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/
@media (prefers-color-scheme: dark) {
    .c-card {
        --card-backgroundColor: var(--global-color-neutral-xxx-dark);
        --card__footer-borderColor: var(--global-color-neutral-xxxx-dark);
    }
}

@media()

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
